:root {
	--background-1: #A86C2F;
	--background-2: #FFBD7A;
	--background-3: #F5A95D;
	--background-4: #328CA8;
	--background-4: #6ED5F5;
	--main-text: #232323;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	color: #444444;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.3rem;
	margin: 0;
	padding: 0;
}


/* Navigation */
.nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;

	width: 100%;
	height: 4rem;

	background-color: #232323;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.nav__logo svg {
	fill: #ffffff;
	height: 3rem;

	margin-left: 0rem;
	margin-right: 0rem;

	border: 2px white;

	z-index: 2;
}

.nav__container {
	display: flex;

	list-style-type: none;
	margin: 1em;
	padding: 0;

}

.nav__link {
	border: 4px pink;
	color: #ebebeb;
	background-color: #232323;

	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;

	width: 20%;
	padding: 1.25rem;

}

.nav__link:hover {
	color: #232323;
	background-color: #328CA8;
}

/* Header */
.header {

	height: 90vh;
	max-height: fit-content;

	color: white;
	background-image: url('../img/iran-g8dc23ab5d_1920.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	text-align: center;

	margin-top: 4rem;
	padding-top: 10rem;

	border: 2px solid black;
}

.header__title {
	font-size: 4rem;
	font-weight: normal;
	margin-bottom: 0.3rem;
}

.header__desc {
	font-size: 3rem;
	font-weight: normal;
	margin-top: 0.3rem;
	color: #ffffff;
}

.header__link {
	color: #328CA8;

	font-weight: bold;
	text-decoration: none;
}

.header__link:hover {
	opacity: 0.7;
}


/* Common to all sections */
.heading {
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
}

.button {
	color: #ffffff;
	background-color: #A86C2F;
	border-radius: 0.5rem;
	box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.5);
	font-size: 1.3rem;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	padding: 0.5rem 3rem;
}

.button:hover {
	box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
}

/* Section Process */
.process {
	height: auto;
	background-color: #ebebeb;
	padding-top: 5rem;
}

.process__quote {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 5rem;
}

.process__container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	color: #ffffff;
	font-size: 1.25rem;
	background-color: #232323;
	padding: 6rem 15% 3rem 15%;

}

.process__item {
	border: 0.2rem solid #A86C2F;
	border-radius: 30px;

	width: 70%;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	padding: 2.5rem;

	text-align: center;
}

.process__item p {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	text-align: center;

	padding: 0.7rem;
}

.process__circle {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	position: absolute;

	width: 12rem;
	height: 12rem;

	margin: 1rem;
	padding: 1rem;

	left: -18rem;

	border-radius: 100%;
}

.c1 {

	background-image: url("../img/discover-img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}

.c2 {

	background-image: url("../img/design-img.webp");

	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}

.c3 {
	background-image: url("../img/deploy-img.webp");

	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}

.c4 {
	background-image: url("../img/Be-ready-img.webp");

	background-size: cover;
	background-repeat: no-repeat;


	z-index: 1;
}

.process__title {
	color: #232323;
	font-size: 1.8rem;
	font-weight: 600;
}

/* Section Skills */
.skills {
	padding: 4rem 15% 8rem 15%;
}

.skills .heading {
	text-align: center;
	color: #328CA8;

}

.skill__item {
	display: flex;
	width: 100%;
	font-size: 1.5rem;
	margin-bottom: 1.2rem;
}

.skill__label {
	width: 20%;
	color: #ffffff;
	background-color: #232323;
	text-align: center;
	padding: 0.75rem;

	border-radius: 0.5rem;
	box-shadow: 0.8rem 0.3rem 0.3rem#232323;

}

.skill__progress-bar {
	width: 100%;
	background-color: #ebebeb;
	padding: 0.75rem;
	text-align: right;
	position: relative;

	border: 0.1rem solid #232323;
	border-radius: 0.5rem;
	box-shadow: 0.8rem 0.3rem 0.3rem#328CA8;
}

.skill__progress {
	background-color: #6ED5F5;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.skill__progress--60 {
	width: 60%;
}

.skill__progress--70 {
	width: 70%;
}

.skill__progress--80 {
	width: 80%;
}

/* Section Portfolio */
.portfolio {
	background-color: #328CA8;
	padding: 2rem 15% 6rem 15%;
}

.portfolio .heading {
	color: #ffffff;
}

.portfolio__containter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.portfolio__item {
	width: 30%;
	background-color: #A86C2F;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	padding: 0.5rem;

	border-radius: 20px;
}

.portfolio__item:hover {
	box-shadow: 2px 2px 20px 0px rgba(68, 68, 68, 1);
}


.portfolio__item .button:hover {
	box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
	opacity: 0.8;
}

.portfolio__img {
	width: 100%;
	height: 10rem;
	margin-bottom: 0.5rem;
	object-fit: cover;

	border-radius: 10px;
}

.portfolio__desc {
	height: auto;
	background-color: #ebebeb;
	text-align: center;
	padding: 1rem;

	border-radius: 10px;
}

.portfolio__stack {
	font-size: 1.25rem;
	font-weight: bold;
	text-align: left;
	margin-top: 1.5rem;
	margin-bottom: 0;
}

.portfolio .button {
	display: block;
	width: 80%;
}

/* Section About */
.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #ebebeb;
	padding: 2rem 15% 6rem 15%;
}

.about .heading {
	width: 100%;
	color: #232323;
}

.about__img {

	width: 50%;
	max-width: 25rem;
	height: 25rem;

	border-radius: 50%;
	border: 0.2rem solid #328CA8;
	background-image: url("img/Profile-picture-en-costume.png");
	object-fit: cover;
}

.about__desc {
	width: 50%;
	font-size: 1.25rem;
}

.about__underline {
	border-bottom: 5px solid #6ED5F5;
}

.about__cta {
	font-size: 1.5rem;
}

/* Section Social */

/* .social {
	background-color: #232323;
	padding: 2rem 15% 6rem 15%;
} */


.social__container {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

.social__link {
	margin: 0 6rem;
}

/* svg icons for social networks */




.social__link:hover svg path {
	opacity: 0.75;
}

/* Section Contact */
.contact {
	background-color: #328CA8;
	padding: 2rem 15% 6rem 15%;
}

.contact .heading {
	color: #ffffff;
}

.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 4rem;
}

.form__input {
	width: 48%;
	color: #ffffff;
	background: transparent;
	border: none;
	border-bottom: 1px solid #ebebeb;
	outline: none;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.form__input::placeholder {
	color: #ebebeb;
}

.form__label {
	width: 100%;
	color: #ebebeb;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.form__textarea {
	width: 100%;
	border: none;
	border-radius: 0.5rem;
	outline: none;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	padding: 0.5rem;
}

.form__button {
	width: 100%;
	color: #ffffff;
	background-color: #232323;
	border: none;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 4rem;
	padding: 0.75rem;
	cursor: pointer;
}

.form__button:hover {
	box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
}


/* Footer */
.footer {
	background-color: #ebebeb;
	padding: 1rem;

	height: 40vh;

}

.footer .heading {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: #232323;
	font-size: 3rem;
	font-weight: 600;
}

.footer__line {
	width: 25%;
	height: 0.5rem;
	background-color: #6ED5F5;
}

.footer .social__link {
	margin: 0 2rem;
}

.footer .social__link svg {
	display: block;
	width: 3rem;
	height: 3rem;
}

.footer .social__link svg path {
	fill: #444444;
	opacity: 0.50;
}

.footer .social__link:hover svg path {
	opacity: 0.80;
}

.footer__copy {
	font-size: 1.5rem;
	text-align: center;
	margin-top: 2rem;
}